body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flex-container > div {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.flex-container > div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container > div > a {
    text-decoration: none;
    color: #333;
}
